html {
    scroll-behavior: smooth; 
    background-color: #E0E1DD;  
} 

body {
    margin: 0;
    padding: 0;
}

header{
    width: 100vw; 
    height: 100vh;  
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1609013304225-26a1b84ac180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2944&q=80"); 
    background-size: cover;  
    background-attachment: fixed;
    background-position: bottom center; 
    flex-wrap: wrap;
} 

h1{ 
    margin-bottom: 20vh;
    font-size: 3rem;  
    width: 100%; 
    text-align: center;
    color: #E0E1DD; 
    text-shadow: 2px 2px 2px #0D1B2A; 
    background-color: rgba(13, 27, 42, 0.6);  
    box-shadow: 0 3px 10px #0D1B2A;
    padding: 2rem; 
    border-radius: 4px; 
    
}   

nav{
    width: 100%;
}

nav ul{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #0D1B2A; 
    list-style-type: none;
    text-decoration: none; 
    margin: 0; 
}  

li a {
    display: block;
    color: #E0E1DD;
    text-align: center; 
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    text-decoration: none; 
} 

li a:hover {
    background-color: #1B263B; 
    text-decoration: underline;
}

#introduction{
    width: 100%; 
    max-width: 650px;
    margin: 15vh auto;   
    border: #0D1B2A solid 3px; 
    padding: 2rem; 
    border-radius: 4px;  
    color: #0D1B2A;
}  

#introduction h2{
    font-size: 2rem; 
    
}

.scrollContainer {
    width: 100vw; 
    min-height: 60vh; 
    overflow: hidden; 
    transition: background-image 2s;
} 

.scrollArticle {
    margin: 40vh auto;  
    width: 100%;
    max-width: 35vw; 
    height: auto; 
    
    color: #E0E1DD;   
    border-radius: 15px;  
    display: flex;  
    flex-wrap: wrap;
    background: rgba(13, 27, 42, 0.9); 
    box-shadow: 0 3px 10px #0D1B2A;
}    

.scrollArticle h3{
    text-align: center; 
    width: 100%;  
    font-size: 1.5rem;
}

.scrollArticle p{
    margin: 1rem;
}

.scrollArticle img{ 
    width: 100%;
    height: auto;  
    max-height: 500px;  
    border-radius: 15px 15px 0 0;
}

#scrollTitle{
    margin: 30vh auto; 
    max-width: 50rem; 
    padding: 1rem; 
    color: white; 
    text-align: center; 
    font-size: 2rem;
    background-color: rgba(13, 27, 42, 0.9);  
    box-shadow: 0 3px 10px #0D1B2A;
    border-radius: 4px;
} 

#scrollSection{ 
    background-attachment: fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}  

#scrollStats{ 
    width: 100%; 
    max-width: 550px; 
    margin: 10vh auto;
    padding:10rem 3rem; 
    text-align: center; 
    background: rgba(13, 27, 42, 0.9);  
    color: #E0E1DD; 
    box-shadow: 0 3px 10px #0D1B2A; 
    border-radius: 4px;
}  

#lapStats{ 
    width: 100%; 
    max-width: 400px;
    margin: 10vh auto; 
    background-color: #778DA9; 
    color: #0D1B2A; 
    box-shadow: 0 3px 10px #0D1B2A; 
    border-radius: 4px;  
    padding:10rem 3rem;  
    text-align: center;
}

#mapSection{ 
    gap: 1rem; 
    width: 100%;
    max-width: 600px;
    margin: 10vh auto;   
}  

#mapSection h2{
    width: 100%; 
   color: #0D1B2A; 
   font-size: 2rem; 
   text-align: center; 
}

#map { 
    height: 500px;  
    width: 100%; 
    max-width: 600px;  
}   

#buttons{ 
    width: 100%; 
    max-width: 600px;
    gap: 2rem;   
    margin-top: .5rem; 
} 

button{
    border: none;  
    border-radius: 2px;
    margin-right: 0.3rem; 
    border: 1.5px solid #0D1B2A;
    background: #0D1B2A; 
    color: #E0E1DD;
    padding: 0.8rem;  
    font-size: 0.9rem; 
    margin-top: .2rem; 
} 

button:hover{
    background-color: #E0E1DD;  
    color:#0D1B2A;
    text-decoration: underline;  
} 


@media only screen and (max-width: 1000px) {
    .scrollArticle {
      max-width: 50vw;
    }  
    #introduction, #lapStats{
        max-width: 450px;
    }
    
  } 

  @media only screen and (max-width: 550px) {
    .scrollArticle {
      max-width: 80vw;
    } 
    #introduction, #lapStats{
        max-width: 300px;
    }
  }